﻿<!DOCTYPE html>
<html>

  <head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <script src="calendarJson.js"></script>

    <link rel="stylesheet" href="global_90.css"/>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="jquery-ui.css"/>
    <link rel="stylesheet" href="calendar_legacy_8.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div id="calendar">
      <div>
        <h1>Operation Calendar of {{ year }}</h1>
      </div>
      <div class="container">
        <div class="row">
          <div v-for="(month, index) in json.data" 
            class="col-xs-4 center-block" align="center">
            <table class="table table-responsive">
              <tr>
                <td colspan="8" class="text-center">
                    <span><strong>{{ month.name + ' ' + year }}</strong></a>
                </td>
              </tr>
              <tr>
                <th>Week</th>
                <th v-for="weekday in weekdays">{{ weekday }}</th>
              </tr>
              <tr v-for="(week, index) in month.weekdays">
                <td>{{ week.weekno }}</td>
                <td class="text-center"
                v-for="(day, i) in numOfDays"
                v-bind:class="{
                  holiday: isHoliday
                  }">
                  <span>{{ getDate(month.monthno, i, week) }}</span>
                  <br>
                  <span v-if="displayDayOfYear">{{currentDayOfYear}}</span>
                </td>
                <!-- <td v-for="day in week.days"><span>{{ day.dayofyear }}</span></td> -->
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="calendar.js"></script>
  </body>
</html>